BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: Align
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
NamespaceIndentation: None
FixNamespaceComments: false
SortIncludes: Never
AlignConsecutiveAssignments: false
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
DerivePointerAlignment: false
Cpp11BracedListStyle: false
SpacesBeforeTrailingComments: 3
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
