[Desktop Entry]
Version=1.0
Type=Application
Name=LOUPE Viewer
Comment=View and navigate PDF documents
Exec=LoupeViewer %f
Icon=io.github.mberrys.Loupe-pdf.LoupeViewer
Terminal=false
Categories=Office;
MimeType=application/pdf;
