[Desktop Entry]
Version=1.0
Type=Application
Name=LOUPE Editor
Comment=Edit and modify PDF files
Exec=LoupeEditor %f
Icon=io.github.mberrys.Loupe-pdf.LoupeEditor
Terminal=false
Categories=Office;
MimeType=application/pdf;
