[Desktop Entry]
Version=1.0
Type=Application
Name=LOUPE Diff
Comment=Compare PDF documents
Exec=LoupeDiff %F
Icon=io.github.mberrys.Loupe-pdf.LoupeDiff
Terminal=false
Categories=Office;
MimeType=application/pdf;
