[Desktop Entry]
Version=1.0
Type=Application
Name=Loupe
Comment=Inspect and prepare production PDFs
Exec=Pdf4QtEditor %f
Icon=io.github.mberrys.Loupe-pdf
Terminal=false
Categories=Office;
MimeType=application/pdf;
